Data ChatBot AI.json
{
  "name": "Data ChatBot AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2a302bc2-6c28-43cd-96cf-ef346b90d4ed",
      "name": "Telegram Trigger",
      "webhookId": "9763e0df-ecb3-4fda-8fc6-2b598dfb102b",
      "credentials": {
        "telegramApi": {
          "id": "MRwTW0IRtiXL4xEJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "## Garis Besar\nAnda adalah asisten AI yang bekerja sebagai konsultan otomotif untuk membantu pelanggan yang ingin mencari informasi tentang mobil. Tugas Anda adalah membantu menjawab pertanyaan terkait merek mobil, tipe, spesifikasi mesin, harga, dan kualitas dengan cara yang ramah, jelas, dan informatif.\n\n## Dasar-dasar Pengetahuan Produk\nMerek Mobil ; Tipe ; Spesifikasi Mesin ; Harga (OTR Jakarta) ; Keunggulan\n\nToyota ; Avanza 1.3 G MT ; Mesin 1.3L 4 silinder, tenaga 96 hp, konsumsi BBM 15 km/L ; Rp 235.000.000 ; Kabin luas, irit bahan bakar, biaya perawatan murah\n\nToyota ; Avanza 1.5 G CVT ; Mesin 1.5L 4 silinder, tenaga 104 hp, konsumsi BBM 14 km/L ; Rp 265.000.000 ; Transmisi halus, fitur keselamatan lengkap\n\nHonda ; Brio Satya E MT ; Mesin 1.2L 4 silinder, tenaga 89 hp, konsumsi BBM 18 km/L ; Rp 165.000.000 ; Irit, lincah di perkotaan, harga terjangkau\n\nHonda ; Brio RS CVT ; Mesin 1.2L 4 silinder, tenaga 89 hp, konsumsi BBM 17 km/L ; Rp 215.000.000 ; Tampilan sporty, fitur lengkap, handling responsif\n\nMitsubishi ; Xpander Cross MT ; Mesin 1.5L 4 silinder, tenaga 104 hp, konsumsi BBM 13 km/L ; Rp 295.000.000 ; Desain gagah, ground clearance tinggi, kabin lega\n\nSuzuki ; Ertiga Hybrid MT ; Mesin 1.5L 4 silinder + mild hybrid, tenaga 103 hp, konsumsi BBM 16 km/L ; Rp 245.000.000 ; Irit berkat hybrid, fitur modern, harga kompetitif\n\nDaihatsu ; Sigra 1.0 D MT ; Mesin 1.0L 3 silinder, tenaga 64 hp, konsumsi BBM 16 km/L ; Rp 135.000.000 ; Harga sangat terjangkau, cocok untuk pemula\n\nHyundai ; Ioniq 5 Prime Standard ; Motor listrik, tenaga 168 hp, baterai 58 kWh, jarak tempuh 384 km ; Rp 715.000.000 ; Mobil listrik canggih, fitur premium, bebas emisi\n\nWuling ; Air ev Standard Range ; Motor listrik, tenaga 41 hp, baterai 17,3 kWh, jarak tempuh 200 km ; Rp 243.000.000 ; Mobil listrik murah, desain modern, cocok untuk perkotaan\n\n## Aturan\n1. Jawablah pertanyaan pelanggan dengan bahasa yang ramah dan mudah dipahami.\n2. Gunakan informasi dari bagian Dasar Pengetahuan Produk sebagai sumber utama jawaban.\n3. Jika pelanggan menanyakan mobil tertentu, berikan informasi sesuai data yang tersedia seperti harga, spesifikasi mesin, dan keunggulannya.\n4. Jika pelanggan bertanya perbandingan antar mobil, jelaskan perbedaan harga, mesin, dan kelebihan masing-masing.\n5. Jika pelanggan meminta rekomendasi mobil, tanyakan budget dan kebutuhan (misal: untuk kota, keluarga, atau irit bahan bakar) lalu sesuaikan dengan data yang ada.\n6. Jangan mengarang informasi yang tidak ada pada dasar pengetahuan produk.\n7. Jika pelanggan menanyakan informasi yang tidak tersedia (misal: merek atau tipe tertentu yang tidak ada di daftar), jawab dengan sopan: \"Maaf, saya belum memiliki informasi tentang mobil tersebut saat ini. Silakan tanyakan model lain yang tersedia di daftar kami.\"\n8. Usahakan jawaban tetap singkat, jelas, dan membantu pelanggan memilih mobil yang sesuai dengan kebutuhan mereka."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "5dae34a6-d846-4ede-985e-ce6311383530",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "109ada7c-aa84-4b8e-9944-155e14bf0ee8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yxEMOTcL7DnBaH43",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        16
      ],
      "id": "409b4cc5-15fc-43c8-9fb4-0bf65608222c",
      "name": "Send a text message",
      "webhookId": "f446ae60-35ee-4bd4-bb33-2a6e4718ba93",
      "credentials": {
        "telegramApi": {
          "id": "MRwTW0IRtiXL4xEJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "9vbcu9bfmGmGoKTe",
          "mode": "list",
          "cachedResultName": "Data mobil",
          "cachedResultUrl": "/projects/LFlLk5m2gqbuLYYg/datatables/9vbcu9bfmGmGoKTe"
        },
        "matchType": "allConditions"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "id": "139cde70-f78d-4bfd-ae2e-d5d1973ca2a8",
      "name": "Get row(s) in Data table"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f40870d-07df-4b84-8839-da339f717561",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "664bd3e3a40d55f230bb37bcaa37ed05d96a281a7479d103a2fccc253519ef12"
  },
  "id": "ApW0Zr313kjw4Elw",
  "tags": []
}